<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c): it@M - Dienstleister für Informations- und Telekommunikationstechnik
    der Landeshauptstadt München, 2022

-->
<configuration>
	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<springProfile name="local|default">
		<include
			resource="org/springframework/boot/logging/logback/base.xml" />
	</springProfile>

	<springProfile name="openshift">
		<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
		</appender>
		<root level="info">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
</configuration>
